{% extends "Blog/index.html" %}
{% load static %}

{% block title%}<title>About Us</title>
<link rel="icon" href="media\uplodes\favicon.ico">{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" href="{% static 'Blog/css/about.css' %}" >





{% endblock %}




{% block contact %}




<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>B Anand and Kartikey Kabdwal , BTech CSE at Lovely Professional University </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                <div class="button">
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            {% comment %} <img src="image/img one.jpg"> {% endcomment %}
            {% comment %} <img src="{static'C:\Users\b anand\Documents\GitHub\Team_M5R\Django_Blog_App-main\blog_v2\Blog\templates\Blog\about_us.jpeg'%}"  alt="Working"> {% endcomment %}
            <img class="hello" src="media\uplodes\profiles\about_us.jpeg" alt="working">

        </div>
    </div>
</div>


{% endblock %}