{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="media\uplodes\favicon.ico">
    {% block title %}   {% endblock %}

   

    <link rel="stylesheet" href="{% static 'Blog/css/home_index.css' %}">
    {% block style %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <nav>
        <div class="logo-nav"></div>
        <div class="nav-list">
            <a class="nav-item" href="{% url 'home' %}">HOME</a>
            <a class="nav-item" href="{% url 'about' %}"">ABOUT</a>
            <a class=" nav-item" href="\admin">ADMIN</a>
            <a class="nav-item" href="{% url 'contactus' %}">CONTACT US</a>
        </div>
        <div class="profile"><a href="{% url 'login' %}">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/dqxvvqzi.json" trigger="hover" style="width:60px;height:80px">
                </lord-icon>
            </a></div>
    </nav>



    {% block contact %}{% endblock %}









    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
</body>

</html>